main{
    color: white;
}
.ms_main-style{
    background-image: url(img/23138.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: auto;
}
.ms_dice-style{
    width: 20%;
    padding-top: 130px;
}
.ms_style-versus{
    height: 100px;
    filter: invert(1);
}
